$black: #000;
$white: #fff;
$green: green;
$red: red;
$blue: blue;
$yellow: yellow;
$orange: orange;
$bg-green: #0d5825;
$block-coral: coral;
$block-blue: rgb(118, 119, 211);
$block-green: rgb(102, 206, 102);
$sidebar-bg: grey;