$black: #000;
$white: #fff;
$green: green;
$red: red;
$blue: blue;
$yellow: yellow;
$orange: orange;
$bg-green: #0d5825;
$block-coral: coral;
$block-blue: rgb(118, 119, 211);
$block-green: rgb(102, 206, 102);
$sidebar-bg: grey;
$grey: #8c8c8c;
$aside1-bg: rgb(217, 167, 221);
$aside2-bg: rgb(167, 168, 221);
$footer-clr: rgb(93, 243, 113);
$violet: rgb(139, 14, 177);
$darkest-grey: #555555;
$brown: #998675;
$dark-brown: #695a4c;

$card-title-color: #c7b299;
$card-text-color: #d1d1d1;
$card-name-color-hover: #362f2d;
$card-name-color: #2f2f2f;


// btn 

$btn-color-violet: rgb(176, 106, 209);
$btn-hover-color: rgb(75, 43, 90);

$menu-btn-hover-color: $dark-brown;

//font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// button
$btn-padding:     8px 15px;
$btn-font-size:   16px;
$btn-line-height: 20px;
$btn-background:  $green;
$btn-color:       $white;
$bth-bg-hover:    $red;

// base style
$base-font-size:  14px;
$base-radius:     5px;
$text-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Raleway', sans-serif;
$font-family: 'Freestyle Script Normal', arial;
$main-font-family: 'Open Sans', sans-serif;

// menu
$darckgrey: #ccc;
$animation-speed: .5s;