$black: #000;
$white: #fff;
$green: green;
$red: red;
$blue: blue;
$yellow: yellow;
$orange: orange;
$bg-green: #0d5825;
$block-coral: coral;
$block-blue: rgb(118, 119, 211);
$block-green: rgb(102, 206, 102);
$sidebar-bg: grey;
$grey: grey;
$aside1-bg: rgb(217, 167, 221);
$aside2-bg: rgb(167, 168, 221);
$footer-clr: rgb(93, 243, 113);
$violet: rgb(139, 14, 177);

// btn 

$btn-color-violet: rgb(176, 106, 209);
$btn-hover-color: rgb(75, 43, 90);